
.btn-save {
  background-color: #28a745 !important;
  /* Green button for save */
  color: white;
}

.btn-save:hover {
  background-color: #218838 !important;
  /* Darker green on hover */
}

.btn-edit {
  background-color: #007bff !important;
  /* Blue button for edit */
  color: white;
}

.btn-edit:hover {
  background-color: #0168d5 !important;
}
